.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background:
        radial-gradient(circle at 90% 10%, #4a90e2, transparent),  /* Sky blue */
        radial-gradient(circle at 10% 90%, #42b9a4, transparent),  /* Soft teal */
        radial-gradient(circle at 90% 10%, #81d4fa, transparent),  /* Light blue */
        radial-gradient(circle at 50% 80%, #64b5f6, transparent),  /* Medium blue */
        radial-gradient(circle at 10% 10%, #7986cb, transparent);  /* Soft indigo */

    background-blend-mode: darken;
    background-size: 200% 200%;
    animation: meshGradient 15s ease infinite;
}

@keyframes meshGradient {
    0% {
        background-position: 0% 0%, 100% 0%, 0% 100%, 100% 100%;
    }

    25% {
        background-position: 25% 25%, 75% 25%, 25% 75%, 75% 75%;
    }

    50% {
        background-position: 50% 50%, 50% 25%, 25% 50%, 75% 50%;
    }

    75% {
        background-position: 75% 75%, 25% 50%, 50% 75%, 25% 25%;
    }

    100% {
        background-position: 0% 0%, 100% 0%, 0% 100%, 100% 100%;
    }
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    height: 100%;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}